 <header class="comp-menu" id="comp-menu">
   <div class="comp-menu-box">
     <div class="comp-menu-box-logo">
       <img src="<%= require('./images/logo-mune.png') %>" alt="">
     </div>
     <a href="javascript:" class="hamburger-link-menu" data-close="menu">
       <div class="hamburger hamburger-1 hamburger-menu-item">
         <div></div>
       </div>
     </a>
   </div>
   <div class="comp-menu-body">
     <ul>
       <a href="">
         <li>HOME</li>
       </a>
       <a href="">
         <li>ABOUT</li>
       </a>
       <a href="">
         <li>PRODUCT</li>
       </a><a href="">
         <li>CONTACT</li>
       </a>
     </ul>
   </div>
 </header>
