<header class="comp-header">
    <a class="comp-header-logo">
        <img class="comp-header-imagess" src="<%= require('./images/header-logo.png') %>" alt="">
        <img class="comp-header-imagess-show" src="<%= require('./images/logo-mune.png') %>" alt="">
    </a>
    <!-- <div class="comp-menu-shadow" data-open="menu"> asdasdasdasdas</div> -->
    <a href="#" class="comp-header-hamburger" data-open="menu">
    <div class="hamburger hamburger-1 hamburger-item" >
      <div></div>
    </div>
</a>
</header>