<footer class="footer">
    <div class="col-md-6 col-xs-12">
        © 2020 Iris Brilliant Company Limited. All Rights Reserved.
    </div>
    <div class="col-md-6 webmap-map col-xs-12">
        <a href="#" open-map="webmap"> Designed By LTD</a>
    </div>
</footer>